
@{
    ViewBag.Title = "Income";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var rest = 50;
    var salary = 1200;
    var otherJob = 220;
    var otherIncome = 0;
    var totalIncome = rest + salary + otherJob + otherIncome;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Your total income is @totalIncome;
    </div>
</body>
</html>

