
@model WebApplication1.Models.Income
@{
    
Layout = "~/Views/Shared/_Layout.cshtml";
ViewBag.Title = "Income";



}


<div class="h1">
    <h1>Your total income on @DateTime.Now.DayOfWeek @DateTime.Now.ToShortDateString()  is @Model.TotalIncome; </h1>
</div>


